<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<th:block id="header" th:fragment="layout-header">
		<div class="content">
			<div><a  class="title" th:href="@{/list}">社員管理システム</a></div>
			<div th:if="${session.loginUser != null}" class="user_info">
				ようこそ、<a class="login_user_name" th:href="@{/update/input(empId=${session.loginUser.empId})}"><span  
						th:text="${session.loginUser.empName}" th:value="${session.loginUser.empId}"></span></a>さん
				<span class="pipeline">|</span><a th:href="@{/logout}">ログアウト</a>
			</div>

		</div>
	</th:block>
</body>

</html>